<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper XML에 지정할 namespace이름을, Mapper Interface의 FQCN 으로 지정하라 -->
<mapper namespace="org.zerock.myapp.persistence.ComplexEmpMapper">
	<select id="rangeEmployees" resultType="org.zerock.myapp.domain.EmpVO">
		select * from emp where empno between #{startEmpno} and #{endEmpno}
	</select>

</mapper>